/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 11, 2014, 2:52:41 PM
    Author     : akef
*/

#canvas {
  width: 320px;
  height: 180px;
  float: right;
  background-color: white;
}

.x-axis {
  fill: #000;
}

.chart {
  background: #fff;
  margin: 5px;
}
 
.chart .category-bar {
  stroke: white;
  fill: steelblue;
}
 
.chart .score {
  fill: white;
}
 
.chart text.name {
  fill: #000;
}
 
.chart line {
  stroke: #c1c1c1;
}
 
.chart .rule {
  fill: #000;
}

.main-category-text {
  fill: #FF4A4A;
}

.main-category-bar {
  stroke: #FF4A4A;
  stroke-width: 2px;
}

.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}